// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.flex_wrapper_admin{
    display: flex;
    justify-content: end;
}
table .wrapper_flex_button{
    display: flex;
    justify-content: space-between;
    button{
        border: none;
        background: no-repeat;
        text-decoration: underline;
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    }
}

/* Gallery */
.gallery{
    margin:10px 0;
}
.gallery img{
    margin:5px; /* внешние отступы картинок */
    border:3px solid #fff; /* рамка картинок */
}
a.photo:hover img{
    border:3px solid #034F80; /* изменение цвета рамки при наведении на картинку */
}
